[Unit]
Description=GPIO input for poweroff signal

[Service]
ExecStart=/opt/gpio-poweroff/gpio-poweroff.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
